{% extends 'base.html' %}
{% block title %}Students{% endblock %}
{% block content %}
<h1>Students</h1>
<a href="{{ url_for('create_student') }}" class="button-link">Add New Student</a>
<ul>
    {% for student in students %}
        <li>{{ student[1] }} {{ student[2] }} - {{ student[4] }}
            <a href="{{ url_for('update_student', student_id=student[0]) }}">Edit</a>
            <form action="{{ url_for('delete_student', student_id=student[0]) }}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}
